<div class="fixed top-0 bottom-0 z-20 hidden lg:flex flex-col shrink-0 w-[--tw-sidebar-width] bg-[--tw-page-bg] dark:bg-[--tw-page-bg-dark]" data-drawer="true" data-drawer-class="drawer drawer-start flex top-0 bottom-0" data-drawer-enable="true|lg:false" id="sidebar">
        <!-- Sidebar Header -->
        <div id="sidebar_header">
         <div class="flex items-center gap-2.5 px-3.5 h-[70px]">
          <a href="html/demo6/index.html">
           <img class="dark h-[42px]" src="assets/media/app/mini-logo-circle.svg"/>
           <img class="hidden dark:inline-block h-[42px]" src="assets/media/app/mini-logo-circle-dark.svg"/>
          </a>
          <div class="menu menu-default grow" data-menu="true">
           <div class="menu-item grow" data-menu-item-offset="0px, 15px" data-menu-item-placement="bottom-start" data-menu-item-toggle="dropdown" data-menu-item-trigger="hover">
            <div class="menu-label cursor-pointer text-gray-900 font-medium grow justify-between">
             <span class="text-base font-medium text-gray-900 grow justify-start">
              CIGAFI | ADMIN
             </span>
            
            </div>
            
           </div>
          </div>
         </div>
         <div class="border-b border-gray-300 mt-4 mb-1 mx-3.5">
       </div>
        </div>
        <!-- End of Sidebar Header -->
       
        <!-- Sidebar menu -->
        <div class="flex items-stretch grow shrink-0 justify-center my-5" id="sidebar_menu">
         <div class="scrollable-y-auto light:[--tw-scrollbar-thumb-color:var(--tw-content-scrollbar-color)] grow" data-scrollable="true" data-scrollable-dependencies="#sidebar_header, #sidebar_footer" data-scrollable-height="auto" data-scrollable-offset="0px" data-scrollable-wrappers="#sidebar_menu">
         
          
          <!-- Secondary Menu -->
          <div class="menu flex flex-col w-full gap-1.5 px-3.5">
           <div class="menu-item show">
           
            <div class="menu-accordion flex flex-col gap-2">
             <div class="menu-item">
              <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/dashboard">
               <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                <i class="ki-duotone ki-abstract-26">
                </i>
               </span>
               <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                Dashboard
               </span>
              </a>
             </div>
             <div class="menu-item">
              <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/liste-annonces">
               <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                <i class="ki-duotone ki-abstract-41">
                </i>
               </span>
               <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
               Liste d'annonces
               </span>
              </a>
             </div>
             <div class="menu-item">
              <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/transactions">
               <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                <i class="ki-duotone ki-abstract-39">
                </i>
               </span>
               <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                Transactions
               </span>
              </a>
             </div>
             <div class="menu-item">
              <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/reservations">
               <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                <i class="ki-duotone ki-abstract-35">
                </i>
               </span>
               <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                Réservations
               </span>
              </a>
             </div>
             <div class="menu-item">
               <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/comptes-admins">
                <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                 <i class="ki-duotone ki-abstract-26">
                 </i>
                </span>
                <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                   Comptes admins
                </span>
               </a>
              </div>
              <div class="menu-item">
               <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/utilisateurs">
                <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                 <i class="ki-duotone ki-abstract-41">
                 </i>
                </span>
                <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                   Comptes utilisateurs
                </span>
               </a>
              </div>
              <div class="menu-item">
               <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/demande-recherche">
                <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                 <i class="ki-duotone ki-abstract-39">
                 </i>
                </span>
                <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                 Demande de recherche
                </span>
               </a>
              </div>
              <div class="menu-item">
               <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/gestion-biens">
                <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                 <i class="ki-duotone ki-abstract-35">
                 </i>
                </span>
                <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                 Gestion de biens
                </span>
               </a>
              </div>
             
              <div class="menu-item">
               <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/messagess-contact">
                <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                 <i class="ki-duotone ki-abstract-39">
                 </i>
                </span>
                <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                 Messages de contact
                </span>
               </a>
              </div>
              <div class="menu-item">
               <a class="menu-link py-1 px-2 my-0.5 rounded-md border border-transparent menu-item-active:border-gray-200 menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-gray-200" href="/admin/parametres">
                <span class="menu-icon text-gray-800 menu-link-hover:text-gray-900 rounded-md flex place-content-center size-7 me-2.5 bg-gray-200 border border-gray-300 menu-item-active:border-none menu-link-hover:border-light menu-item-active:bg-light menu-link-hover:bg-light menu-link-hover:border-none dark:menu-item-active:text-gray-900 menu-icon-xs">
                 <i class="ki-duotone ki-abstract-35">
                 </i>
                </span>
                <span class="menu-title text-2sm text-gray-800 menu-item-active:font-medium menu-item-active:text-gray-900 menu-link-hover:text-gray-900">
                 Paramètres généraux
                </span>
               </a>
              </div>
            </div>
           </div>
         
          </div>
          <!-- End of Secondary Menu -->
         </div>
        </div>
        <!-- End of Sidebar menu-->
        <!-- Footer -->

           <!-- Footer -->
    <div class="flex flex-center justify-between shrink-0 ps-4 pe-3.5 mb-3.5" id="sidebar_footer">
     <div class="menu" data-menu="true">
      <div class="menu-item" data-menu-item-offset="-10px, 15px" data-menu-item-placement="right-end" data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
       <div class="menu-toggle cursor-pointer">
         <div class="flex items-center gap-2">
          <img alt="" class="size-9 rounded-full border-2 border-success" src="assets/media/avatars/300-2.png">
           <div class="flex flex-col gap-1.5">
            <span class="text-sm text-gray-800 font-semibold leading-none">
              <%= user.firstName %> <%= user.lastName %>
            </span>
            <span class="text-primary text-xs leading-none">
            <%= user.role === "superAdmin" ? "Super Admin" : user.role %>
         </span>
           </div>
          </img>
         </div>
       </div>
       <div class="menu-dropdown menu-default light:border-gray-300 w-screen max-w-[250px]">
        <div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
         <div class="flex items-center gap-2">
          <img alt="" class="size-9 rounded-full border-2 border-success" src="assets/media/avatars/300-2.png">
           <div class="flex flex-col gap-1.5">
            <span class="text-sm text-gray-800 font-semibold leading-none">
              <%= user.firstName %> <%= user.lastName %>
            </span>
            <a class="text-xs text-gray-600 hover:text-primary font-medium leading-none" href="html/demo6/account/home/get-started.html">
               <%= user.email %> 
            </a>
           </div>
          </img>
         </div>
   
        </div>
        <div class="menu-separator">
        </div>
        <div class="flex flex-col">
         <div class="menu-item">
          <a class="menu-link" href="">
           <span class="menu-icon">
            <i class="ki-filled ki-badge">
            </i>
           </span>
           <span class="menu-title">
            Paramètres du compte
           </span>
          </a>
         </div>
         <div class="menu-item">
          <a class="menu-link" href="">
           <span class="menu-icon">
            <i class="ki-filled ki-profile-circle">
            </i>
           </span>
           <span class="menu-title">
            My Profile
           </span>
          </a>
         </div>
     
        </div>
        <div class="menu-separator">
        </div>
        <div class="flex flex-col">
         <div class="menu-item mb-0.5">
          <div class="menu-link">
           <span class="menu-icon">
            <i class="ki-filled ki-moon">
            </i>
           </span>
           <span class="menu-title">
            Mode Sombre
           </span>
           <label class="switch switch-sm">
            <input data-theme-state="dark" data-theme-toggle="true" name="check" type="checkbox" value="1"/>
           </label>
          </div>
         </div>
         <div class="menu-item px-4 py-1.5">
          <button class="btn btn-dark w-full justify-center" id="logout" >
                        Déconnexion
                       </button>
         </div>
        </div>
       </div>
      </div>
     </div>




     <div class="flex items-center gap-1.5">
    
      <a class="btn btn-icon btn-icon-lg size-8 hover:bg-light hover:text-primary text-gray-600" href="html/demo6/authentication/classic/sign-in.html">
       <i class="ki-filled ki-exit-right">
       </i>
      </a>
     </div>
    </div>
        <!-- <div class="flex flex-center justify-between shrink-0 ps-4 pe-3.5 mb-5" id="sidebar_footer">
                <button class="btn btn-dark w-full justify-center" id="logout" >
                        Déconnexion
                       </button>
        </div> -->
        <!-- End of Footer -->
       </div>